/* Configuração do modo claro */
body {
  background-color: #fff;
  color: #333;
}

header {
  background-color: #eee;
  color: #333;
}

main {
  padding: 20px;
}

footer {
  background-color: #ddd;
  color: #333;
}

/* Configuração do modo escuro */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

header.dark-mode {
  background-color: #666;
  color: #fff;
}

main.dark-mode {
  background-color: #444;
  color: #fff;
}

footer.dark-mode {
  background-color: #222;
  color: #fff;
}

